---
interface Props {
	name: string
	date: string
	description: string
	skills: string[]
	link: string
}

import { FaArrowRight } from 'react-icons/fa'

const { name, date, description, skills, link } = Astro.props
---

<div class="project-card mt-2">
	<h2 class="w-fit text-lg font-bold hover:underline">
		<a href={link} target="_blank" rel="noopener noreferrer"
			>{name}<FaArrowRight className="ml-1 inline-block text-primary-400" /></a
		>
	</h2>
	<p>{description}</p>
	<p class="text-sm text-gray-300">{date}</p>
	<div class="mt-2 flex flex-wrap gap-2">
		{skills.map((skill) => <span class="rounded bg-primary-400 px-2 py-1 text-xs">{skill}</span>)}
	</div>
</div>
