---
interface Props {
	name: string
	date: string
	description: string
	skills: string[]
	link: string
}

const { name, date, description, skills, link } = Astro.props
---

<div class="project-card mt-2">
	<a href={link} target="_blank" rel="noopener noreferrer">
		<h2 class="text-lg font-bold">
			{name}
		</h2>
		<p>{description}</p>
		<p class="text-sm text-gray-300">{date}</p>
		<div class="mt-2 flex flex-wrap gap-2">
			{skills.map((skill) => <span class="rounded bg-primary-400 px-2 py-1 text-xs">{skill}</span>)}
		</div>
	</a>
</div>
